@import 'mixins';
@import 'variables';

.background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &__home {
        background-image: url('../images/panorama.jpg');
        background-position-y: 100%;
        background-size: contain;
        @include tablet {
            background-image: url('../images/panorama.jpg');
        }
    }

    &-wall {
        background-image: url('../images/old_wall.png');
        background-repeat: repeat;
    }

    &-sandy {
        background-color: $sandy-color;
    }

    &-orange {
        background-color: $maize-color;
    }

    &-darken {
        background-color: #182d54;
    }

    &-transparent {
        background-color: rgba(0, 0, 0, 0);
    }
    
}