@import 'mixins';
@import 'variables';

.btn-primary {
    background-color: $tealish-color;
    font-family: 'Montserrat';
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0px;
    padding: 20px 0px;
    border: none;
    
    &:hover {
        background-color: $sandy-color;
    }

    &:active:focus,
    &.btn-primary:active,
    &.btn-primary:focus {
        background-color: $maize-color;
        border-color: $maize-color;
    }
 }

 .btn-close {
     padding: 10px 40px;
 }

  .form-group {
    margin-bottom: 15px;
    @include tablet {
        margin-bottom: 30px;
    }
 }

 label {
     font-weight: 500;
 }

 .btn-start {
    background-color: rgba(255, 165, 0, 0);
    margin: 30px auto 0px;
    border: 3px white solid;
    padding: 15px 50px;
 }