@import 'mixins';
@import 'variables';


.title-primary {
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 600;
}

.text-primary {
    color: $primary-color;
}

.text-xs {
    font-size: 10px;
}

.heading-font {
    font-family: $heading-font;
}
.brand-font {
    font-family: $brand-font;
}

.section {
    padding: 50px 0;
    &-title {
        text-align: center;
        font-family: $heading-font;
        font-size: 36px;
        color: #474b59;
    }
    &-subtitle {
        text-align: center;
        padding: 20px 0px 30px;
        font-family: "Esteban",serif;
        // font-family: $heading-font;
        font-size: 18px;
        line-height: 1.67;
    }
}

.links-list {
    margin-bottom: 30px;
    li {
        padding: 5px 0;
    }
    a {
        color: inherit
    }
}

.justify-list-flex {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
        position: relative;
        flex-basis: 25%;
        @include notebook {
            flex-basis: 14%;
        }
    }
}

.justify-list {
    text-align: justify;
    padding: 0;
    margin: 0;
    font-size: 0;
    &:after {
        width: 100%;
        display: inline-block;
        content: ".";
        visibility: hidden;
    }
    li {
        display: inline-block;
        position: relative;
    }
}

.vertical {
    &-container {
        display: table;
        width: 100%;
        height: 100%;
    }
    &-body {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }
}


.text-sm-left {
    @include tablet {
        text-align: left;
    }
}

.text-md-left {
    @include desktop {
        text-align: left;
    }
}

.text-sm-center {
    @include tablet {
        text-align: center;
    }
}

.text-md-center {
    @include desktop {
        text-align: center;
    }
}

.text-sm-right {
    @include tablet {
        text-align: right;
    }
}

.text-md-right {
    @include desktop {
        text-align: right;
    }
}

.header-title {
    padding-bottom: 20px;
}

.valuesOffered-section {
    padding: 100px 0px 30px;
    @include tablet {
        padding: 130px 0px 30px;
    }
}

.phone-number a,
.email-address a,
.location-map a
{
    color: #fff;
}