@import 'mixins';
@import 'variables';

.flipper-container {
    perspective: 1000px;

    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        &-front, &-back {
            backface-visibility: hidden;

            position: absolute;
            top: 0;
            left: 0;
        }
        &-front {
            z-index: 2;
            /* for firefox 31 */
            transform: rotateY(0deg);
        }

        /* back, initially hidden pane */
        &-back {
            /* uncomment for flipping animation */
            // transform: rotateY(180deg);
        }
    }

    

    &:hover .flipper, &.hover .flipper {
        /* uncomment for flipping animation */
        // transform: rotateY(180deg);
    }
    &:hover {
        position: relative;
        z-index: 2;
    }
}