@import 'mixins';
@import 'variables';

.hero {
    height: 100%;
    // height: 100vh;
    padding: 100px 0 80px;
    position: relative;

    @include desktop {
        padding: 130px 0 80px;
    }

    &-brand {
        font-size: 106px;
        text-align: center;
        font-family: $brand-font;
        padding: 0 15px;
        font-weight: bold;
    }

    &-container {
        position: relative;
        z-index: 1;
        text-align: center;
    }
    &-title {
        font-size: 25px;
        color: #474b59;
        line-height: 40px;
        // text-transform: uppercase;
        // font-weight: 600;
        font-family: $heading-font;
        
        @include tablet {
            line-height: 60px;
        }

        @media screen and (min-width: 414px) {
            font-size: 36px;
        }
    }
    &-sub-title {
        color: #fff;
        font-size: 16px;
        text-shadow: 1px 1px 3px rgba(16, 33, 41, 0.7);
        @include tablet {
            font-size: 20px;
        }
    }
}

.hero__half {
    height: auto;
    @include tablet {
        height: 500px;
    }
}

// .hero {
//     .top-scroll &:before {
//         opacity: 1;
//     }
//     &:before {
//         content: '';
//         position: absolute;
//         background-color: rgba(0, 0, 0, 0.3);
//         opacity: 0;
//         left: 0;
//         right: 0;
//         top: 0;
//         bottom: 0;
//         transition: all 0.8s ease;
//     }
// }