@import 'mixins';
@import 'variables';

$menu-offset-top: 60%;

.hero-month {
    color: $steel-color;
    position: absolute;
    top: 0;
    left: 0; 
    height: 100%;
    width: 100%;

    &:before {
        content: '';
        position: absolute;
        z-index: 0;
        width: 100%;
        top: $menu-offset-top;
        border-top: 2px solid $tealish-color;
    }

    > .container {
        height: 100%;
        position: relative;
    }

    &-item {
        padding: 0;
        height: 100%;
        position: relative;
        width: 8.3333%;
        float: left;
        &:before {
            content: '';
            position: absolute;
            top: -15px;
            height: 100%;
            right: 0;
            border-right: 0.5px solid rgba($steel-color, 0.5);
        }
        &:first-child {
            margin-left: -8.3333%;
            &:before {
                content: none;
            }
        }
    }
    &-caption {
        position: absolute;
        right: 0;
        bottom: 15px;
        padding: 0 5px;
        font-size: 11px;
        font-family: "adorn-smooth-slab-serif",serif;
        // font-family: $heading-font;
        text-transform: uppercase;
        .active & {
            color: $sandy-color;
        }
    }
    &-point {
        background-color: $tealish-color;
        position: absolute;
        z-index: 1;
        width: 14px;
        height: 14px;
        top: $menu-offset-top;
        right: 0;
        margin-right: - 14px/2;
        margin-top: - 14px/2;
        border-radius: 50%;
        transition: all 0.3s ease;

        &:hover, .active & {
            width: 36px;
            height: 36px;
            margin-right: - 36px/2;
            margin-top: - 36px/2;
            background-color: $sandy-color;
            box-shadow: 0 2px 4px 0 rgba(181, 81, 81, 0.50);
            + .hero-month-caption {
                color: $sandy-color;
            }
        }

        &:hover + .hero-month-tooltip,
        &.hover + .hero-month-tooltip {
            visibility: visible;
            opacity: 1;
            transition: all 0.3s ease;
        }
    }

    &-popup {
        line-height: 1.67;
        font-size: 16px;
        color: $grey-color;
        background-image: url(../images/old_wall.png);        
        min-width: 400px;
        position: absolute;
        z-index: 1;
        padding: 25px;
        border-left: 5px solid $sandy-color;
        top: $menu-offset-top;
        margin-top: 40px;
    }

    &-popup {
        visibility: hidden;
        transition: all 0.4s;
        transform: scale(0);
        opacity: 0;
        left: 0;
        .active & {
            transform: scale(1);
            opacity: 1;
            visibility: visible;
        }
    }
    &-tooltip {
        background-color: #33373d;
        font-size: 11px;
        font-family: $heading-font;
        color: #fff;
        visibility: hidden;
        top: $menu-offset-top;
        display: block;
        position: absolute;
        left: 70%;
        margin-top: -50px;
        white-space: nowrap;
        padding: 5px 10px;
        z-index: 1;
        opacity: 0;
    }



    &-item:nth-child(2) &-popup {
            left: -15px;
    }
    &-item:nth-child(10) &-popup {
            left: -25%;
    }
    &-item:nth-child(11) &-popup {
            left: -100%;
    }
    &-item:nth-child(12) &-popup {
            left: -200%;;
    }
    &-item:nth-child(13) &-popup {
            left: auto;
            right: -15px
    }
}