.icon {
    display: inline-block;
    width: 90px;
    height: 90px;
    // max-width: 100%;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;    

    &__inline {
        width: 200px;
        height: 70px;
    }
    &__lg {
        width: 220px;
        height: 130px;
    }
    &__sm {
        width: 130px;
        height: 130px;
    }
    &__xs {
        width: 100px;
        height: 100px;
    }

    &__boilerplate {
        background-image: url('../images/boilerplate-logo.png');
    }

    &-transparent {
        opacity: 0.6;
    }

    &.indoor {
        background-image: url('../images/icons/indoor.png');
    }
   
   &.outdoor {
        background-image: url('../images/icons/outdoor.png');
    }

    &.administrative {
        background-image: url('../images/icons/admin.png');
    }
}

.picture {
    background-position: center center;
    height: 165px;
    background-repeat: no-repeat;
    margin: 20px 0px;

    &-hands {
        background-image: url('../images/pictures/hands.jpg');
    }
    &-plan {
        background-image: url('../images/pictures/plan.jpg');
    }
    &-houses-plan {
        background-image: url('../images/pictures/houses-plan.jpg');
    }
    &-checklist {
        background-image: url('../images/pictures/checklist.jpg');
    }
    &-stairs {
        background-image: url('../images/pictures/stairs.jpg');
    }
    &-money {
        background-image: url('../images/pictures/money.jpg');
    }
    &-mask {
        background-image: url('../images/pictures/mask.jpg');
    }
    &-hand-with-house {
        background-image: url('../images/pictures/hand-with-house.jpg');
    }
    &-check {
        background-image: url('../images/pictures/check.jpg');
    }
    &-phone {
        background-image: url('../images/pictures/phone.png');
    }
    &-mailbox {
        background-image: url('../images/pictures/mailbox.jpg');
    }

}
