@import 'mixins';
@import 'variables';

.infoblock {
    &-item {
        position: relative;
        height: 600px;
        background-color: #fff;
        padding: 40px;
        margin-bottom: 50px;
        @include desktop {
            height: 560px;
        }
    }

    &-title {
        font-family: $heading-second-font;
        font-size: 26px;
        text-align: center;
        color: $steel-color;
        font-weight: bold;
        
    }

    &-img {
        text-align: center;
    }

    &-description {
        font-family: $body-font;
        font-size: 18px;
        line-height: 1.67;
        color: $grey-color;
    }

    &-green {
        background-color: $tealish-color;
        height: 630px;

        @include tablet {
            height: 600px;
        }

        @include desktop {
            height: 560px;
        }
        
    }

    &-green &-title,
    &-green &-description {
        color: #fff;
    }

    &-green &-area-button:hover {
        outline-color:  $sandy-color;
    }

    &-area-button{
        position: absolute;
        left:0;
        top:0;
        right: 0;
        bottom: 0;

        &:hover {
            cursor: pointer;
            outline: solid 5px transparent;
            outline-offset: -5px;
        }
    }
}