.modal {
    &-content {
        border-radius: 3px;
        background-color: #182d54;
    }
    &-body {
        padding: 30px 20px 15px;
        font-size: 20px;
        text-align: center;
        color:#fff;
    }
    &-footer {
        text-align: center;
        border-top: 1px solid #455167;
    }
}