@import 'mixins';
@import 'variables';
.navbar {
    transform: translateZ(0);
}

.navbar-default {
    border: none;
    transition: all 0.5s;
    background-color: $sandy-color;

    @include tablet {
            background-color: rgba(255, 255, 255, 0.5);
    }
}

.navbar-default .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #182d54;
    // font-family: 'Esteban';
    font-size: 14px;
    font-family: $heading-font;
    &:focus,
    &:hover {
        color: $light-color;

        @include tablet{
            color: $sandy-color;
        }
    }
}

.navbar-default.navbar-pops-up {
    background-color: $sandy-color;
    .navbar-nav>li>a {
        &:focus,
        &:hover {
            color: #fff;
        }
    }
}


/**/

.navbar-default {
    padding: 0px 10px;
    @include tablet {
        padding: 0px 50px;
    }
}

.navbar-default .navbar-brand {
    color: #515863;
    font-family: $brand-font;
    font-size: 60px;
    margin-top: 7px;
}

.navbar-default .navbar-nav .active>a {
    background-color: $tealish-color;
    color: #fff;
}

.navbar-default .navbar-nav .active>a:hover {
    background-color: $tealish-color;
    color: #fff;
}