
.testimony {
    height: 319px;
    margin: 20px 26.5px;

    // @include tablet {
    //     height: 319px;
    // }

    &-section {
        padding: 70px 0;
    }
    &-front,
    &-back {
        height: 100%;
        width: 100%;
    }

    &-front {
        background-image: url('../images/fpo-man.png');
        background-position: center center;
        background-size: cover;
    }

    &-back {
        background-color: $testimony-background;
    }

    &-title {
        position: absolute;
        height: 40px;
        bottom: 18px;
        background-color: rgba(241, 210, 110, 0.8);
        width: 100%;
        padding: 5px 20px;
        font-size: 12px;
        font-family: "adorn-smooth-slab-serif",serif;
        // font-family: $heading-font;
        &-opaque {
            background-color: #f1d26e;
        }
    }

    &-text {
        font-size: 16px;
        color: white;
        padding: 40px 30px 30px 40px;
        font-family: $heading-font;

        @include tablet {
            font-size: 18px;
        }
    }

    &-quotes {
        position: relative;

        &:before, &:after {
            content: '';
            position: absolute;
            font-size: 200px;
            opacity: 0.6;
            color: $sandy-color;
            line-height: 1;
            font-family: $brand-font;
        }
        &:before {
            content: '“';
            left: 10px;
            top: 10px;
        }
        &:after {
            content: '“';
            right: 10px;
            bottom: 10px;
            transform: rotate(-180deg);
        }
    }
}

.testimony-title div {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}