$body-font: 'Esteban', serif;
$body-second-font: 'Domine', Arial, sans-serif;
$heading-font: 'adorn-smooth-serif', serif;
$heading-second-font: 'Montserrat', Arial, sans-serif;
$brand-font: 'adorn-smooth-pomander';
$brand-secondary-font: 'adorn-smooth-slab-serif';

$tablet-width: 768px;
$notebook-width: 992px;
$desktop-width: 1300px;

$primary-color: #00acec;
$sandy-color: #edca5b;
$steel-color: #7d859e;
$tealish-color: #2dbaab;
$maize-color: #f2b35f;
$testimony-background: #182d54;

$grey-color: #474b59;

$light-color: #fff;
$text-color: #515459;