@import 'mixins';
@import 'variables';
html,
body {
    height: 100%;
}

body {
    // padding-top: 60px;
    color: $text-color;
    font-family: $body-font;
}

figure {
    margin: 1em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
}

@import 'bootstrap-custom';
@import 'common';
@import 'navbar';
@import 'backgrounds';
@import 'hero';
@import 'icons';
@import 'modal';


@import 'testimony';
@import 'infoblock';
@import 'flipper';
@import 'hero-month';
@import 'drawer';


.problems {
    &-section {
        color: #474b59;
        padding: 60px 0px 30px;
        text-align: center;
    }

    &-item {
        padding: 20px 25px;
    }

    &-title {
        font-weight: 600;
        font-family: $heading-second-font;
        font-size: 26px;
        color: #474b59;
        padding-bottom: 20px;
    }

    &-description {
        font-family: $body-second-font;
        font-size: 16px;
    }

    &-header {
        text-align: center;
        padding-bottom: 15px;
    }
}

.panorama-img {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.panorama-img img {
    width: 150%;

    @media screen and (min-width: 1024px) {
        width: 100%;
    }
}

h2 {
    margin-top: 0px;
}

footer {
    color: white;

    
}

.footer-section {
        padding: 45px 0px 35px;
        font-family: $brand-secondary-font;
        font-size: 12px;
    }

.bottom-padding {
    padding-bottom: 10px;
 }

 .contact-form {
     font-family: $brand-secondary-font;
     font-size: 12px;
     text-align: 1.25;
 }

