<section class="problems-section background-orange">
        <div class="container">
            <h2 class="section-title">We’ve Got a Guy For That…</h2>
            <p class="section-subtitle col-md-8 col-md-offset-2">The complexity of modern life can lead to many issues. We’ve got a team of trusted, discreet professionals who can make things right again.</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="problems-item">
                        <h2 class="problems-title">Indoor</h2>
                        <div class="problems-description">
                            <p>A/C Refrigerant Pressure Check, Test and Recharge</p>
                            <p class="text-center text-xs"><i class="glyphicon glyphicon-menu-down"></i></p>
                            <p>Auto Gate Service</p>
                            <p class="text-center text-xs"><i class="glyphicon glyphicon-menu-down"></i></p>
                            <p>Carpet Cleaning</p>
                            <p class="text-center text-xs"><i class="glyphicon glyphicon-menu-down"></i></p>
                            <p>Gym Equipment Service</p>
                            <p class="text-center text-xs"><i class="glyphicon glyphicon-menu-down"></i></p>
                            <p>Maid Service – Daily, weekly, monthly or one time. Supplement existing service or provide complete service.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="problems-item">
                        <h2 class="problems-title">Outdoor</h2>
                        <div class="problems-description">
                            <p>Gardening Services – Manage or Hire</p>
                            <p class="text-center text-xs"><i class="glyphicon glyphicon-menu-down"></i></p>
                            <p>Gutter Cleaning</p>
                            <p class="text-center text-xs"><i class="glyphicon glyphicon-menu-down"></i></p>
                            <p>Pool Cover and Vault Cleaning</p>
                            <p class="text-center text-xs"><i class="glyphicon glyphicon-menu-down"></i></p>
                            <p>Pool Service and Repair</p>
                            <p class="text-center text-xs"><i class="glyphicon glyphicon-menu-down"></i></p>
                            <p>Pressure Washing</p>
                            <p class="text-center text-xs"><i class="glyphicon glyphicon-menu-down"></i></p>
                            <p>Window Cleaning</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="problems-item">
                        <h2 class="problems-title">Administrative</h2>
                        <div class="problems-description">
                            <p>Full Concierge Services: party or event support to second home seasonal management</p>
                            <p class="text-center text-xs"><i class="glyphicon glyphicon-menu-down"></i></p>
                            <p>Emergency Preparedness & Security Risk Analysis</p>
                            <p class="text-center text-xs"><i class="glyphicon glyphicon-menu-down"></i></p>
                            <p>Insurance review / Risk Management Utility / Energy Efficiency Studies</p>
                            <p class="text-center text-xs"><i class="glyphicon glyphicon-menu-down"></i></p>
                            <p>Tech Support</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>