<section class="testimony-section background-wall">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- To return flipping animation uncomment divs in the bottom
                        and uncomment styles in the main.css file, they have a comment "uncomment for flipping animation"  -->
                    <div class="flipper-container">
                    <div class="testimony flipper">
                        <!-- <div class="testimony-front flipper-front">
                            <div class="testimony-title"><div><b>Ross Jaffe</b>, Managing Director.<br>Forbes Midas List</div></div>
                        </div> -->
                        <div class="testimony-back flipper-back">
                            <p class="testimony-text testimony-quotes">Casera responds promptly to matters we notice. Their staff identify issues before we do, which prevents a small problem from being a larger one.</p>
                            <div class="testimony-title testimony-title-opaque"><div><b>Ross & Eve Jaffe</b></div></div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flipper-container">
                    <div class="testimony flipper">
                        <!-- <div class="testimony-front flipper-front">
                            <div class="testimony-title"><div><b>Ross Jaffe</b>, Managing Director.<br>Forbes Midas List</div></div>
                        </div> -->
                        <div class="testimony-back flipper-back">
                            <p class="testimony-text testimony-quotes">We rely on Casera to keep our home in proper condition. I have and will recommend Casera to my colleagues, associates, and friends.</p>
                            <div class="testimony-title testimony-title-opaque"><div><b>John & Ellen Drew</b></div></div>
                        </div>
                    </div>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flipper-container">
                        <div class="testimony flipper">
                            <!-- <div class="testimony-front flipper-front">
                                <div class="testimony-title"><div><b>Ross Jaffe</b>, Managing Director.<br>Forbes Midas List</div></div>
                            </div> -->
                            <div class="testimony-back flipper-back">
                                <p class="testimony-text testimony-quotes">Casera is proactive, staying ahead of the curve before problems arise. As a result, we are confident that our home is 'finely tuned and well-oiled'.</p>
                                <div class="testimony-title testimony-title-opaque"><div><b>Privacy-Respected,</b> Atherton</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: -20px;">
                <div class="col-md-4">
                    <div class="flipper-container">
                    <div class="testimony flipper">
                        <!-- <div class="testimony-front flipper-front">
                            <div class="testimony-title"><div><b>Ross Jaffe</b>, Managing Director.<br>Forbes Midas List</div></div>
                        </div> -->
                        <div class="testimony-back flipper-back">
                            <p class="testimony-text testimony-quotes">Casera responds promptly to matters we notice. Their staff identify issues before we do, which prevents a small problem from being a larger one.</p>
                            <div class="testimony-title testimony-title-opaque"><div><b>Ross & Eve Jaffe</b></div></div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flipper-container">
                    <div class="testimony flipper">
                        <!-- <div class="testimony-front flipper-front">
                            <div class="testimony-title"><div><b>Ross Jaffe</b>, Managing Director.<br>Forbes Midas List</div></div>
                        </div> -->
                        <div class="testimony-back flipper-back">
                            <p class="testimony-text testimony-quotes">We rely on Casera to keep our home in proper condition. I have and will recommend Casera to my colleagues, associates, and friends.</p>
                            <div class="testimony-title testimony-title-opaque"><div><b>John & Ellen Drew</b></div></div>
                        </div>
                    </div>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="flipper-container">
                        <div class="testimony flipper">
                            <!-- <div class="testimony-front flipper-front">
                                <div class="testimony-title"><div><b>Ross Jaffe</b>, Managing Director.<br>Forbes Midas List</div></div>
                            </div> -->
                            <div class="testimony-back flipper-back">
                                <p class="testimony-text testimony-quotes">Casera is proactive, staying ahead of the curve before problems arise. As a result, we are confident that our home is 'finely tuned and well-oiled'.</p>
                                <div class="testimony-title testimony-title-opaque"><div><b>Privacy-Respected,</b> Atherton</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  