<section class="valuesOffered-section background-wall">
        <div class="container">
            <div class="hero-container header-title">
                <h2 class="hero-title">Providing you with privacy, trusted vendors, and meticulous home maintenance: Casera is your home advocate.</span>
                </h2>
        </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="infoblock-item">
                        <div class="infoblock-title">
                            Trusted Vendor Network
                        </div>
                        <div class="picture picture-hands">
                        </div>
                        <div class="infoblock-description">Casera checks the backgrounds of all employees, and sets the rules for our third-party relationships to ensure your trust and security. Our vendors are dependable extensions of the Casera family.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="infoblock-item">
                        <div class="infoblock-title">
                            A Detailed Process that Works
                        </div>
                        <div class="picture picture-plan">
                        </div>
                        <div class="infoblock-description">We inventory and catalog all appliances, record their service codes to solve issues on the spot without making a call to your home; and uniquely label multiples of the same appliance.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="infoblock-item">
                        <div class="infoblock-title">
                            Monthly + Project Work Estimates
                        </div>
                        <div class="picture picture-mailbox">
                        </div>
                        <div class="infoblock-description">Our scheduled preventative maintenance monitors your electrical, mechanical, garden, and everything else. We are happy to furnish you with a work estimate for any red flags we see or improvements you request.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="infoblock-item">
                        <div class="infoblock-title">Maintenance that's Not Just Routine</div>
                        <div class="picture picture-checklist">
                        </div>
                        <div class="infoblock-description">As your partner in home maintenance, we scrutinize everything with a fresh set of eyes every time.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="infoblock-item">
                        <div class="infoblock-title">Working with Your Existing Team</div>
                        <div class="picture picture-stairs">
                        </div>
                        <div class="infoblock-description">We take pride in working congruently and collegially with everyone who serve your home daily—chefs, dog walker, house manager. This is critical to how we are the best at what we do.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="infoblock-item">
                        <div class="infoblock-title">Clear Communication</div>
                        <div class="picture picture-money">
                        </div>
                        <div class="infoblock-description">You’ll know your wins with Casera. We'll tell you where we’ve averted problems, and how much money and time that has saved you.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="infoblock-item">
                        <div class="infoblock-title">We Protect Your Privacy</div>
                        <div class="picture picture-mask">
                        </div>
                        <div class="infoblock-description">We only engage those that adhere to the highest levels of propriety, professionalism and discretion. Their work and time on your property are never discussed off your property.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="infoblock-item">
                        <div class="infoblock-title">
                            Catered to Your Life
                        </div>
                        <div class="picture picture-hand-with-house">
                        </div>
                        <div class="infoblock-description">Our clients trust us to understand their lifestyle, know their home, and just take care of it. Our goal is to thoroughly resolve your home’s issues before they become problems.</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="infoblock-item infoblock-green">
                        <div class="infoblock-area-button hidden-xs" data-drawer="#contactsDrawer"></div>
                        <div class="infoblock-title">Schedule Your Initial Consultation</div>
                        <div class="picture picture-phone">
                        </div>
                        <div class="infoblock-description">Just like your car, boat, or any other property, being proactive is a necessary part of protecting your home. If you want to best protect this most important investment, call Casera.</div>
                        <button class="btn btn-primary visible-xs btn-start" data-drawer="#contactsDrawer">Let's Start!</button>
                    </div>
                </div>
            </div>
        </div>
    </section>  