<footer class="footer-section background-darken">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-6 bottom-padding phone-number">
                <a href="tel:650-587-0808"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 650-587-0808</a>
            </div>
            <div class="col-md-3 col-sm-6 bottom-padding email-address">
                <a href="mailto:service@casera.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> service@casera.com</a>
            </div>
            <div class="col-md-4 col-sm-6 bottom-padding location-map">
                 <a href="https://goo.gl/maps/7c5HceqfiKL2" target="_blank"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> 50 Woodside Plaza #453, Redwood City, CA 94061</a>
            </div>
            <div class="col-md-3 col-sm-6 bottom-padding">
                ©2017 Casera. All rights reserved.
            </div>
        </div>
    </div>
</footer>