<header class="hero background-wall" id="home">
        <div class="panorama-img"><img src="images/panorama.png"/></div>
        <div class="vertical-container">
            <div class="container hero-container">
                <h2 class="hero-title">Keep your home and family's lifestyle at its finest with scheduled preventative maintenance from <span class="hero-brand">casera</span></h2>
            </div>
        </div>
        <div class="hero-month hidden-sm hidden-xs">
            <div class="container">
                <div class="hero-month-item"><span class="hero-month-point"></span> <span class="hero-month-tooltip">It all starts with an initial consultation</span></div>                
                <div class="hero-month-item js-hero-month">
                    <span class="hero-month-point"></span>
                    <span class="hero-month-caption">Jan</span>
                    <div class="hero-month-popup">Adjustment of cabinets and drawers for clean lines, uniformity and functionality to prolong their life.</div>
                </div>
                <div class="hero-month-item js-hero-month">
                    <span class="hero-month-point"></span>
                    <span class="hero-month-caption">Feb</span>
                    <div class="hero-month-popup">Assessment that all doors, hinges and hardware open, close and are sealed properly for alignment and sound containment. Monitoring of gutters and downspouts to remove blockages that cause damage.</div>
                </div>
                <div class="hero-month-item js-hero-month">
                    <span class="hero-month-point"></span>
                    <span class="hero-month-caption">Mar</span>
                    <div class="hero-month-popup">Inspection of the integrity of exterior doors, window, trim, hardware and weatherstripping to ensure comfort is kept inside and the elements out.</div>
                </div>
                <div class="hero-month-item js-hero-month">
                    <span class="hero-month-point"></span>
                    <span class="hero-month-caption">Apr</span>
                    <div class="hero-month-popup">Coordination with domestic staff to deep clean the fine details and hard-to-reach spaces such as tops of cabinets and under appliances.</div>
                </div>
                <div class="hero-month-item js-hero-month">
                    <span class="hero-month-point"></span>
                    <span class="hero-month-caption">May</span>
                    <div class="hero-month-popup">Semi-annual assessment of internal air quality for environmental and physical health: cleaning air filters, ducts, floor registers.</div>
                </div>
                <div class="hero-month-item js-hero-month">
                    <span class="hero-month-point"></span>
                    <span class="hero-month-caption">Jun</span>
                    <div class="hero-month-popup">Check-up of appliances: everything from cleaning coils, replacing filters, clearing potential fire-causing clogs in dryer vents, to scrutiny of leaks or flooring damage.</div>
                </div>
                <div class="hero-month-item js-hero-month">
                    <span class="hero-month-point"></span>
                    <span class="hero-month-caption">Jul</span>
                    <div class="hero-month-popup">Focus on water: damage, leaks and potability. Inspection of plumbing, faucets, filters, aerators, mineral deposits and rust.</div>
                </div>
                <div class="hero-month-item js-hero-month">
                    <span class="hero-month-point"></span>
                    <span class="hero-month-caption">Aug</span>
                    <div class="hero-month-popup">Structural integrity analysis to eliminate pests and prevent vegetation from entering your home.</div>
                </div>
                <div class="hero-month-item js-hero-month">
                    <span class="hero-month-point"></span>
                    <span class="hero-month-caption">Sep</span>
                    <div class="hero-month-popup">Preparation for seasonal change: addressing paint issues, cracks in molding, structural settling.</div>
                </div>
                <div class="hero-month-item js-hero-month">
                    <span class="hero-month-point"></span>
                    <span class="hero-month-caption">Oct</span>
                    <div class="hero-month-popup">Heating inspection and semi-annual air quality servicing to protect your family and prolong the life of mechanical systems.</div>
                </div>
                <div class="hero-month-item js-hero-month">
                    <span class="hero-month-point"></span>
                    <span class="hero-month-caption">Nov</span>
                    <div class="hero-month-popup">Pre-winterization water leak prevention: cleaning of roof and gutters; adjustment of pool services and irrigation systems.</div>
                </div>
                <div class="hero-month-item js-hero-month">
                    <span class="hero-month-point"></span>
                    <span class="hero-month-caption">Dec</span>
                    <div class="hero-month-popup">Risk assessment for the month of highest fire danger: check of electrical systems, outlets, and safety devices like extinguishers and detectors.</div>
                </div>
            </div>
        </div>
    </header>