<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p>Your request was successfully sent.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-close" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>