<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="index.html">
                <span>casera</span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="advantages.html">Advantages</a></li>
                <!--<li><a href="#">Services</a></li>-->
                <!--<li><a href="#">Estate Assessment</a></li>-->
                <li><a href="#" data-drawer="#contactsDrawer">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>